div {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.box {
	display: inline-block;
	width: 120px;
	height: 120px;
	padding: 8px;
	border: 1px solid black;
	border-radius: 5px;
	background: red;
	color: white;
}

.content-box {
	box-sizing: content-box;
}
