p {
	font-size: 30px;
}

p:first-child::first-letter {
	color: white;
	font-size: 60px;
	font-weight: bold;
	line-height: 3;
	background-color: black;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}
